*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
}
.logo {
    margin-left: 16px;
}
.header__phone {
    margin-right: 43px;
    margin-top: 11px;
}
.menu {
    margin-top: 16px;
}
.menu__list {
    display: flex;
}
.menu__item + .menu__item {
    padding-left: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #001e64;
}
.menu__link:hover {
    border-bottom: 2px solid #001e64;
}
.header__content {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.title {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    color: #001e64;
    max-width: 589px;
    padding: 200px 0 0 112px;
    margin-bottom: 130px;
}
