*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo {
    margin-left: 16px;
    z-index: 10;
}
.header__phone {
    margin-right: 43px;
    margin-top: 11px;
}
.menu {
    margin-top: 16px;
}
.menu__list {
    display: flex;
}
.menu__item + .menu__item {
    margin-left: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #001e64;
}
.menu__link:hover {
    border-bottom: 2px solid #001e64;
}
.header__content {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 50px;
    margin-top: -100px;
    min-height: 100vh;
}
.title {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    color: #001e64;
    max-width: 589px;
    padding: 170px 0 0 112px;
    margin-bottom: 60px;
}
.header-slider {
    max-width: 522px;
    padding-left: 112px;
    padding-top: 57px;
    padding-bottom: 135px;
}
.header__slider-text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
.slick-prev,
.slick-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 40px;
}
.slick-prev {
    top: 0;
}
.slick-next {
    bottom: 0;
}
.slick-dots {
    list-style: none;
    position: absolute;
    left: 35px;
    top: 55px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slick-dots button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
}
.slick-active button {
    opacity: 1;
}
.slick-dots button::before {
    content: "0";
}
.slick-dots li:nth-child(n + 10) button::before {
    content: "";
}
.header__content-btn {
    display: inline-block;
    margin-left: 112px;
    transform: translateY(-120px);
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    padding: 14px 88px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    transition: all 0.2s ease;
}
.header__content-btn:hover {
    background-color: #fff;
    color: #001e64;
}
.header__content-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}
.header__content-link--active {
    font-weight: 700;
}
.product {
    padding-top: 100px;
}
.product__inner {
    display: flex;
    justify-content: space-between;
}
.product__name {
    width: 510px;
    text-align: center;
    padding-top: 41px;
}
.product-next,
.product-prev {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.product-prev {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.product__name-item + .product__name-item {
    margin-top: 30px;
}
.product__name-item {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 32px;
    color: #232222;
    font-weight: 400;
}
.product__content {
    max-width: 600px;
}
.product__name-item.slick-current {
    font-weight: 700;
    font-size: 36px;
    color: #001e64;
}
.product__content-box {
    display: flex;
    justify-content: space-between;
}
.product__content-img {
    object-fit: content;
}
.product__content-list {
    width: 291px;
}
.product__content-item {
    margin-bottom: 30px;
}
.product__content-item span {
    display: block;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #001e64;
}
.product__content-title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #001e64;
    padding-top: 20px;
    margin-bottom: 20px;
}
.product__content-text {
    margin-bottom: 25px;
}
.product__content-btn {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #001e64;
    border: 1px solid #001e64;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;
    padding: 12px 85px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.product__content-btn:hover {
    background: #001e64;
    color: #ffffff;
}
.seafood-box {
    background-image: url(../images/seafood-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 290px 0 95px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}
.seafood-box__items {
    display: flex;
    justify-content: space-around;
}
.seafood-box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    min-height: 165px;
    background-image: url(../images/shell.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.seafood__items {
    margin: 100px 0;
}
.seafood__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.seafood__item-title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #001e64;
    margin-bottom: 30px;
    max-width: 490px;
}
.seafood__item-text {
    max-width: 420px;
    margin-bottom: 20px;
}
.seafood__item-text--right .seafood__item-title {
    max-width: 420px;
}
.seafood__item-text--right .seafood__item-content {
    margin-right: 180px;
}
.seafood__quote {
    max-width: 800px;
    margin: 0 auto 100px;
    text-align: center;
}
.seafood__quote-text {
    margin: 0 auto;
    max-width: 696px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.contacts {
    background-image: url(../images/contacts-img.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.contacts__box {
    margin-left: auto;
    width: 390px;
    background-color: #ffffff;
    padding: 33px 0 33px 20px;
}
.contacts__box-text {
    width: 195px;
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #001e64;
    margin-bottom: 30px;
}
.contacts__box-list {
    font-size: 18px;
    line-height: 21px;
}
.contacts__box-item {
    margin-top: 30px;
}
.contacts__box-item span {
    display: block;
}
.contacts__box-item a:hover {
    text-decoration: underline;
    color: #001e64;
}
.footer {
    padding: 30px 0 110px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 45px 0 23px;
}
.footer__inner .menu {
    padding-bottom: 33px;
}
.footer__socials {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.footer__socials-link path {
    transition: all 0.2s ease;
}
.footer__socials-item + .footer__socials-item {
    margin-left: 10px;
}
.footer__socials-link:hover path {
    fill: #001e64;
}

.menu__btn {
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 13px 0;
    cursor: pointer;
    position: relative;
    display: none;
}
.menu__btn::before,
.menu__btn::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    background-color: #001e64;
    left: 0;
    right: 0;
}
.menu__btn::before {
    top: 0;
}
.menu__btn::after {
    bottom: 0;
}
.menu__btn span {
    display: block;
    height: 4px;
    background-color: #001e64;
}

/* ------------------ADAPTIVE------------- */

@media (max-width: 1160px) {
    .product__name {
        width: 350px;
    }
    .footer__logo {
        display: none;
    }
    .footer .menu{
        display: none;
    }
    .footer__inner{
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    .footer{
        padding: 30px 0;
    }
    .footer__socials {
        padding: 0;  
    }
    
}

@media (max-width: 1100px) {
    .seafood__item-content {
        padding-right: 15px;
    }
    .seafood__item-text--right .seafood__item-content {
        padding-left: 15px;
    }
}

@media (max-width: 1000px) {
    .menu__list {
        position: absolute;
        left: 20%;
        right: 20%;
        background-color: #fff;
        display: block;
        top: -370px;
        transition: all 0.4s ease;
        z-index: 5;
    }
    .menu__list.menu__list--active {
        top: 75px;
    }
    .menu__btn {
        display: inline-block;
        z-index: 4;
    }
    .menu {
        margin: 12px 20px 0 auto;
    }
    .menu__item + .menu__item {
        margin-left: 0;
    }
    .menu__link {
        display: block;
        padding: 20px 0;
        text-align: center;
    }
    .menu__link:hover {
        border: none;
    }
    .product__name {
        width: 250px;
    }
}

@media (max-width: 950px) {
    .seafood__item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .seafood__item-text--right {
        flex-wrap: wrap-reverse;
    }
    .seafood__item-content {
        padding-right: 0;
    }
    .seafood__item-text--right .seafood__item-content {
        padding-left: 0;
        margin-right: 0;
    }
    .seafood__item-title,
    .seafood__item-text,
    .seafood__item-text--right {
        max-width: 100%;
    }
    .seafood img {
        max-width: 100%;
    }
    .seafood__items {
        margin: 50px 0;
    }
}

@media (max-width: 890px) {
    .product__inner {
        display: block;
    }
    .product__content {
        margin: 0 auto;
    }
    .product__name {
        width: 100%;
        padding-top: 0;
        margin-bottom: 80px;
    }
    .product__name-item + .product__name-item {
        margin-top: 0;
    }
    .product__name-item.slick-current {
        line-height: 44px;
    }
    .product__name .slick-dots {
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: center;
        top: 90px;
    }
    .product__name .slick-dots button {
        width: 10px;
        height: 10px;
        font-size: 0;
        padding: 0;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #c4c4c4;
    }
    .product__name .slick-active button {
        background-color: #001e64;
    }
}

@media (max-width: 740px) {
    .title {
        font-size: 50px;
        line-height: 56px;
        padding: 170px 0 0 30px;
        max-width: 100%;
        text-align: center;
        margin-bottom: 45px;
    }
    .seafood-box__items {
        flex-wrap: wrap;
    }
    .seafood-box {
        padding-bottom: 20px;
    }
    .seafood-box__item {
        margin-bottom: 15px;
    }
}

@media (max-width: 650px) {
    .product__content {
        width: 100%;
    }
    .seafood-box {
        display: none;
    }
    .seafood__quote {
        margin: 0 auto 50px;
    }
    .contacts {
        background: none;
    }
    .contacts__box {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .contacts__box-text {
        display: inline-block;
    }
    .contacts__box-item {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .product__content-box {
        display: block;
    }
    .product__content-list {
        width: 100%;
    }
    .seafood__quote-img {
        display: none;
    }
}

@media (max-width: 470px) {
    .slick-prev,
    .slick-next {
        left: 12px;
    }
    .header-slider {
        padding-left: 50px;
    }
    .slick-dots {
        left: 10px;
    }
    .header__content-btn {
        margin-left: 50px;
    }
    .title {
        font-size: 34px;
        line-height: 44px;
    }
}

@media (max-width: 360px) {
    .title {
        padding: 125px 0 0 30px;
    }
    .logo {
        z-index: 0;
        margin-left: 0px;
    }
    .logo__img {
        width: 90%;
    }
    .header__phone {
        margin-right: 0px;
    }
    .menu__list {
        left: 5%;
        right: 5%;
    }
    .header-slider {
        padding-left: 0px;
        padding-top: 0px;
    }
    .header__content-btn {
        margin-left: 0px;
    }
    .product__content-btn {
        padding: 12px 55px;
    }
    .product {
        padding-top: 50px;
    }
}
